{% extends "main.html.twig" %}

{% block content %}

    <div class="small-12 columns">

        {% include 'flash.html.twig' %}

        <h3 class="titre-page">{{ titre }}</h3>

        <div class="small-12 medium-offset-3 medium-6 columns">
            <form action="{{ editerMotDePassePostPath }}" method="POST" data-abide>

                <p>Mot de passe actuel :</p>

                <div class="password-input">
                    <label>Mot de passe <small>obligatoire</small>
                        <input type="password" id="password" required pattern="password" name="mot_de_passe" placeholder="********"/>
                    </label>
                    <small class="error">Le mot de passe doit contenir entre 5 et 15 caractères.</small>
                </div>

                <p>Nouveau mot de passe :</p>

                <div class="password-input">
                    <label>Mot de passe <small>obligatoire</small>
                        <input type="password" id="new-password" required pattern="password" name="nouveau_mot_de_passe" placeholder="********"/>
                    </label>
                    <small class="error">Le mot de passe doit contenir entre 5 et 15 caractères.</small>
                </div>

                <div class="password-input">
                    <label>Répéter mot de passe <small>obligatoire</small>
                        <input type="password" required pattern="password" data-equalto="new-password" name="nouveau_mot_de_passe" placeholder="********"/>
                    </label>
                    <small class="error">Les mots de passes doivent correspondrent.</small>
                </div>

                <input type="hidden" name="token" value="{{ token }}"/>

                <div class="small-12 small-offset-3 medium-6 large-offset-3 large-6 columns end">
                    <input type="submit" class="button small-12" value="Enregistrer">
                </div>
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $(document).foundation({
                abide : {
                    patterns: {
                        password: /^.{5,15}$/
                    }
                }
            });
        });
    </script>
{% endblock %}