{% if session['slim.flash'] | length > 0 %}
    {% for key, flash in session['slim.flash'] %}
        {% if key == "success" %}
            <div data-alert class="alert-box success">
                {{ flash }}
            </div>
        {% elseif key == "error" %}
            <div data-alert class="alert-box alert">
                {{ flash }}
            </div>
        {% else %}
            <div data-alert class="alert-box secondary">
                {{ flash }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}