
<script src="{{ path }}/public/js/foundation.min.js"></script>
<script src="{{ path }}/public/js/foundation/foundation.topbar.js"></script>
<script src="{{ path }}/public/js/foundation/foundation.abide.js"></script>
{#<script src="{{ path }}/public/js/foundation/foundation.dropdown.js"></script>#}
{#<script src="/raccoin-prog-serveur/public/js/menu.js"></script>#}
<script>
    $(document).foundation();
</script>
</body>
</html>