{% macro annonce(annonce, path) %}
    <div class="card">
        <a href="{{ annonce.url }}">
            <div class="image-cover" style="background-image: url('{% if annonce.image %}{{ path }}/{{ annonce.image.url }} {% else %} http://img.clubic.com/00092784-photo-blank.jpg {% endif %}')"></div>
            <div class="title">{{ annonce.titre }}</div>
            <div class="description">{{ annonce.descriptif | slice(0,20) }}...</div>
        </a>
        <div class="prix">{{ annonce.prix }}€</div>
        <div class="date">{{ annonce.date_creation|date("d/m/Y") }}</div>
    </div>
{% endmacro %}

{% macro categorie(categorie) %}
    <div class="card">
        <a href="{{ categorie.url }}">
            <div class="image-cover" style="background-image: url('{{ categorie.image }}')"></div>
            <div class="title">{{ categorie.nom }}</div>
            <div class="description">{{ categorie.description }}</div>
        </a>
    </div>
{% endmacro %}