<!doctype html>
<html lang="fr">
<head>
    {% include 'head.html.twig' %}
    {% block head %}
    {% endblock %}
</head>
<body>
{% include 'menu.html.twig' %}

<div class="row" style="padding-top: 2em;">
    {% block content %}
    {% endblock %}
</div>

{% include 'footer.html.twig' %}