{% extends "main.html.twig" %}

{% block content %}

    {% include 'flash.html.twig' %}

    <h3 class="titre-page">{{ titre }}</h3>

    <a href="{{ link.mesAnnoncesPath }}">Mes annonces</a> <br/>
    <a href="{{ link.editerProfilPath }}">Editer mes informations</a> <br/>
    <a href="{{ link.editerMotDePassePath }}">Changer de mot de passe</a> <br/>
    <a href="{{ link.genererAPIPath }}">Générer clé d'API</a>

{% endblock %}