{% extends "main.html.twig" %}

{% import "macro.html.twig" as macro %}

{% block content %}

    <form action="{{ link.rechercherPath }}">
        <div class="small-12 medium-offset-2 medium-8 large-offset-3 large-6 columns" style="margin-bottom: 0.5em;">
            <div class="row">
                <div class="small-12 columns">
                    <div class="row">
                        <div class="small-9 columns">
                            <input name="q" type="text" placeholder="Je recherche..." value="{{ titreQ }}">
                        </div>
                        <div class="small-3 columns">
                            <input type="submit" class="button postfix" value="Go">
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-6 columns">
                            <label for="categorie">Catégorie :</label>
                            <select id="categorie" required name="categorie">
                                <option value="0">Toutes catégories</option>
                                {% for categorie in categories %}
                                    <option value="{{ categorie.id }}" {% if categorie.id == categorieQ %} selected {% endif %}>{{ categorie.nom }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="small-6 columns">
                            <label for="departement">Département :</label>
                            <select id="departement" name="departement" data-param="{{ departementQ }}">
                                {% include 'listeDepartements.html.twig' %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-6 columns">
                            <label for="min">Prix min :</label>
                            <input name="min" type="number" placeholder="10" min="0" value="{{ minQ }}">
                        </div>
                        <div class="small-6 columns">
                            <label for="max">Prix max :</label>
                            <input name="max" type="number" placeholder="100" min="0" value="{{ maxQ }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="annonces large-12 columns">
    {% if no_results %}
        <div class="row">
            <div class="small-12 columns">
                <div data-alert class="alert-box secondary">
                    {{ no_results }}
                </div>
            </div>
        </div>
    {% endif %}
    {% for annonce in annonces %}
    {% if loop.last %}
    <div class="large-3 medium-6 small12 columns end">
        {% else %}
        <div class="large-3 medium-6 small-12 columns">
            {% endif %}
            {{ macro.annonce(annonce, path) }}
        </div>
        {% endfor %}
    </div>

    <script>
        $(document).ready(function() {
            departementValue = $('#departement').attr('data-param');
            if(departementValue) {
                $('#departement option[value="'+departementValue+'"]').attr('selected', 'selected');
            }
        });
    </script>

{% endblock %}